@model IEnumerable<AdminLTE.MVC.Models.Apartamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condominio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condominio.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApartamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApartamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApartamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
